.about__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.about__img {
    width: 383px;
    border-radius: 1.5rem;
}

.about__description {
    margin-bottom: 0.5rem;
    text-align: justify;
    font-weight: 400;
}

/* ---INFO--- */
.about__info {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.about__box {
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 0.75rem 0.5rem;
    width: 116px
}

.about__icon {
    font-size: 1.5rem;
    color: hsl(0, 0%, 20%);
    margin: 0.5rem;
    ;
}

.about__title {
    font-size: 0.81rem;
    font-weight: 500;
}

.about__subtitle {
    font-size: 0.625rem;
}


/* ---breackpoints--- */
/* for large devices */
@media screen and (max-width: 992px) {
    .about__img {
        width: 220px;
    }

    .about__data {
        text-align: center;
    }


    .about__description {
        padding: 0 5rem;
        margin-bottom: 0.5rem;
    }
}

/* for medium devices */
@media screen and (max-width: 576px) {

    .about__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        justify-items: center;
    }

    .about__description {
        padding: 0 2rem;
        margin-bottom: 2rem;
    }

    .about__info {
        gap: 0.5rem;

    }
}

/* for small devices */
@media screen and (max-width: 350px) {}